html, body {
    background-color: #333;
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card {
    height: 180pt;
    width: 350pt;
    background-color: #222;
    display: inline-block;
    border-radius: 10pt;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  }
  .card:link, .card-header:active, .card:visited {
    color: #fff;
    text-decoration: none;
  }
  .card:hover {
    transform: scale(1.03);
  }
  .card:active {
    transform: scale(0.99);
    opacity: 0.7;
  }
  .card-icon {
    width: 70pt;
    margin-left: 25pt;
    margin-top: 35pt;
    opacity: 0.5;
  }
  .card-header {
    font-weight: bold;
    font-size: 20pt;
    margin: 0;
    margin-left: 25pt;
    margin-top: 15pt;
  }
  
  /*
    Color variations
  */
  
  .pink {
      background-image: linear-gradient( 135deg, #FE86C3, #B33675);
  }
  .green {
      background-image: linear-gradient( 135deg, #79D4B8, #459989);
  }
  .orange {
      background-image: linear-gradient( 135deg, #E47D57, #C93F1F);
  }
  .red {
      background-image: linear-gradient( 135deg, #E7414D, #B3252D);
  }
  .yellow {
      background-image: linear-gradient( 135deg, #E9BE40, #CD812E);
  }
  .purple {
      background-image: linear-gradient( 135deg, #8361F2, #4623B1);
  }
  .blue {
      background-image: linear-gradient( 135deg, #78BAFF, #2E6BC3);
  }
  .gray {
      background-image: linear-gradient( 135deg, #8D9196, #525458);
  }
  h1 {
      text-align: center;
  }